@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --white: #f6e4e4;
    --background: #b8862fe0;
    --black: #333;
    --button: #45a049;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    min-height: 100vh;
    margin: 0;
}

  .background-image{
    min-height: 100vh;
    width: 100%;
    background-image: url("maths.webp");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    margin: 100px 0 100px 0;
}

main{
    color: var(--white);
    background-color: var(--background);
    border-radius: 10px;
}

h1 {
    color: var(--white);
    background-color: var(--background);
    font-size: 3.8rem;
    letter-spacing: 1px;
    padding: 1rem;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
    font-size: 1.8rem;
    color: var(--white);
    letter-spacing: 1px;
    padding: 0.5rem;
}

input, select, button {
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
}

button {
    background-color: var(--button);
    color: var(--white);
    cursor: pointer;
}

button:hover {
    background-color: var(--button);
}

#result {
    margin: 20px 0 10px 0;
    padding-right: 15px;
    font-size: 2rem;
    text-align: right;
    color: var(--black);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--background);
    padding: 15px;
    font-size: 1.6rem;
    width: 100%;
    margin-top: auto;
}