@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --white: #f6e4e4;
    --background: #b8862fe0;
    /*FÄRGER HÄR*/

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    height: 100vh;
    border: 2px solid orange;
  }

  .background-image{
    min-height: 100vh;
    width: 100%;
    background-image: url("maths.webp");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

header{
    margin-bottom: 100px;
}
main{
    border: 2px solid green;
}
footer{
    border: 2px solid blue;
}

  h1 {
    color: var(--white);
    background-color: var(--background);
    font-size: 4rem;
    padding: 1.2rem;
    border-radius: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }

  label {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }

  input, select, button {
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
  }

  button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  #result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }